body {}
	
	.header {
		
		padding-top: 20px;
		padding-bottom: 20px;
		
	}

		.menu {
			display: block;
			float: right;
			text-transform: none;
			font-size: 16px;
			font-family: "Open Sans", arial, sans-serif;
		}

			.menu a {
				color: #f03838;
				text-decoration: none;
			}

