exports.scrapers = {
	// "rp13": { module:require('../rp13/scraper.js'), db:true },
	// "rp14": { module:require('../rp14/scraper.js'), db:true },
	// "test-rp14": { module:require('../test-rp14/scraper.js'), db:true },
	"31c3":  { module:require( __dirname + '/../31c3/scraper.js'), db:true }
	// "altconf14": { module:require('../altconf14/scraper.js'), db:false }
	// "30C3": { module:require('../30C3/scraper.js'), db:true }
};
